<div class="product">
  <%= @statut_commande %>
  <%= if @statut_commande == 1 do %>
      <div class="validation_commande">
          <h2>Validation de la commande</h2>
          <p>Si vous rencontrez des problèmes sur l’enregistrement, veuillez nous contacter immédiatement au 0977 19 62 50 (non surtaxé).</p>
          <div class="detail_commande">
              <ul>
                  <li class="num_commande">
                      Numéro de commande :
                      <strong><%= @commande["numero"] %></strong>
                  </li>
                    <li class="date_commande">
                      Date :
                      <strong><%= @commande["date"] %></strong>
                  </li>
                    <li class="total_commande">
                      total :
                      <strong><%= @commande["total"] %></strong>
                  </li>
                    <li class="mode_payement">
                      moyen de payement :
                      <strong>E-Transaction</strong>
                  </li>
              </ul>
          </div>
          <form method="post" action="<%= @urletrans %>">
            <input type="hidden" name="PBX_SITE" value="<%= @pbx_site %>">
            <input type="hidden" name="PBX_RANG" value="<%= @pbx_rang %>">
            <input type="hidden" name="PBX_IDENTIFIANT" value="<%= @pbx_identifiant %>">
            <input type="hidden" name="PBX_TOTAL" value="<%= @pbx_total %>">
            <input type="hidden" name="PBX_DEVISE" value="978">
            <input type="hidden" name="PBX_CMD" value="<%= @pbx_cmd %>">
            <input type="hidden" name="PBX_PORTEUR" value="<%= @pbx_porteur %>">
            <input type="hidden" name="PBX_REPONDRE_A" value="<%= @pbx_repondre_a %>">
            <input type="hidden" name="PBX_RETOUR" value="<%= @pbx_retour %>">
            <input type="hidden" name="PBX_EFFECTUE" value="<%= @pbx_effectue %>">
            <input type="hidden" name="PBX_ANNULE" value="<%= @pbx_annule %>">
            <input type="hidden" name="PBX_REFUSE" value="<%= @pbx_refuse %>">
            <input type="hidden" name="PBX_HASH" value="SHA512">
            <input type="hidden" name="PBX_TIME" value="<%= @pbx_time %>">
            <input type="hidden" name="PBX_SHOPPINGCART" value="<%= @pbx_shoppingcart %>">
            <input type="hidden" name="PBX_BILLING" value="<%= @pbx_billing %>">
            <input type="hidden" name="PBX_HMAC" value="<%= @hmac %>">
            <button class="btn" type="submit">Continuer</button>
          </form>
          <form method="post" action="/validation_command">
            <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token()%>">
          </form>
      </div>
  <% else %>
      <div class="validation_commande">
        <p>Vous n'avez pas encore de commande</p>
      </div>
  <% end %>
</div>
