<div class="location">
  <div class="navigation-bar">
    <a>Accueil</a> /
    <a>Localisation</a>
  </div>
    <p>Localisation</p>
    <img loading="lazy" src="<%= Routes.static_path(@socket, "/images/BBMAY-CARTE-GOOGLE.jpg") %>" width="947" height="648">
</div>
