<div class="location">
    <p>Localisation</p>
    <img loading="lazy" src="https://bbmay.fr/wp-content/uploads/2019/09/BBMAY-CARTE-GOOGLE.jpg" alt="carte sur google bbmay.fr" srcset="https://bbmay.fr/wp-content/uploads/2019/09/BBMAY-CARTE-GOOGLE.jpg 947w, https://bbmay.fr/wp-content/uploads/2019/09/BBMAY-CARTE-GOOGLE-300x205.jpg 300w, https://bbmay.fr/wp-content/uploads/2019/09/BBMAY-CARTE-GOOGLE-768x526.jpg 768w, https://bbmay.fr/wp-content/uploads/2019/09/BBMAY-CARTE-GOOGLE-600x411.jpg 600w" sizes="(max-width: 947px) 100vw, 947px" width="947" height="648">
</div>
