<div id="connexion_body_verif" class=" product">
  <div class="navigation-bar">
    <a>Accueil</a> /
    <a>Connexion</a> /
  </div>
  <div class="page_verif">
    <h1>
    <b>Un mail a été envoyé à votre adresse.</b>
    </h1>
  </div>
</div>
